## C++ #########################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
.vscode/
.idea/
*.code-workspace

# CMake
*/cmake-build-debug/*
*/.cmake/*
*/CMakeFiles/*
build/*

# generated meshes
*.msh

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd